<div class="container">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
  <form class="input-group" action="/answer" data-turbo="false">
    <input type="text" class="form-control" name="question" placeholder="What's for lunch coach?">
    <div class="input-group-append">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </div>
  </form>
<div>
